body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

.header {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	text-align: center;
	height: 50px;
	line-height: 50px;

	background-color: #afb6e0;
}

.add-btn {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	position: relative;

}

.add-btn .fa-plus {
	font-size: 10px;
	position: absolute;
	top: 25%;
	left: 25%;

}


.plus {
	display: flex;
	justify-content: center;
	background-color: royalblue;
	padding: 4px 20px;
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: black;
}

.group {
	height: 50px;
	line-height: 50px;

	border-radius: 10px;
	border: 1px solid #cdd1d1;
}

.group .right-arrow {
	border: none;
	background-color: #fff;

}

.price {
	display: inline-block;
	margin-left: 155px;
}

.group .fa-angle-right {
	font-size: 25px;
	color: #6d6e6e;

}