.header {
	display: block;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	background-color: #afb6e0;

}

a {
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Noto Sans TC', sans-serif;
	margin-bottom: 20px;
}

a:hover {
	text-decoration: none;
}

.border {
	padding: 20px 40px;
	border: 1px solid gray;
	border-radius: 7px;
}

.form-control {
	margin-bottom: 10px;
}

label {
	font-size: 12px;
	font-weight: normal;
}

.input .date-text {
	font-size: 14px;
}

.input-group-addon {
	border-radius: 10px;
}

.input {
	padding: 5px;
	border-radius: 10px;
}

input[type="text"] {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 15px;
}

.btn {
	width: 220px;
	height: 35px;
	font-size: 10px;
	border-radius: 7px;
}

.btn:focus {
	outline: none;
}
