<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>家計費一覧</title>
	<!--bootstrap css1 js2-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!--google font-->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
		
	<link rel="stylesheet" th:href="@{/css/householdlist.css}">
</head>

<body>

	<nav class="header">家計費管理</nav>

	<div class="section">
		<div class="container">
			<div class="row d-flex justify-content-center align-items-center">

				<div class="d-flex justify-content-between col-md-7 col-sm-12 my-2">
					<a href="#" style="font-size: 14px; color: black;">家計費一覧</a>
					<a th:href="@{/details/register}">
						<div class="plus">
							<button class="add-btn me-2"><i class="fa fa-plus"></i></button>
							<span style="font-size: 13px;">追加</span>
						</div>
					</a>
				</div>

				<div th:each="houseHold : ${houseHoldList}" class="d-flex justify-content-between col-md-7 col-sm-12 my-2 group">
					<a th:href="@{'/details?year=' + ${houseHold.year} + '&month=' + ${houseHold.month}}" class="w-100">
						<div class="d-flex justify-content-between text-dark">
							<label class="date" style="font-size: 14px;" th:text="${houseHold.year} + '/' + ${houseHold.month}"></label>
							<label class="price" style="font-size: 14px;" th:text="${houseHold.total} + 'JPY'"></label>
							<button class="right-arrow" style="height: 20px;"><i class="fas fa-angle-right"></i></button>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>





	<!-- bootstrap css1 js2 -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
</body>

</html>