<!DOCTYPE html>
<html lang="en">

<head>
	<title>更新</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

	<!--bootstrap css1 js2-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
	<link rel="stylesheet" th:href="@{/css/register.css}">

</head>

<body>

	<h1 class="header">家計費管理</h1>
	<div class="container" style="max-width:600px;margin:0 auto;margin-top:50px;margin-bottom: 50px;">
		
		<div class="row">
				
			
			<div class="ms-4">
				<a th:href="@{/}">家計費一覧</a> <b>/</b> <a href="#" style="color: black; text-decoration: none;">更新</a>
			</div>
			<div class="col-md-12">
				<form th:action="@{'/details/update/' + ${id}}" method="post" th:object="${form}" class="col-md-12">
					<div class="border">
						
						<div class="col-12">
							<label>日付</label>
							<div id="datepicker" class="input-group date input" data-date-format="dd/mm/yyyy">
								<input type="text" th:field="*{date}" name="date" id="dateInput" class="form-control date-text"  />
								<span class="input-group-addon input-group-text justify-content-center"
									style="width: 100px;">
									<i class="fa fa-calendar" style="font-size: 18px;"></i>
								</span>
							</div>
							<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
						</div>

						<div class="col-12 input">
							<label>項目</label>
							<input type="text" th:field="*{item}" name="item" id="item" class="form-control item"  />
							<span th:if="${#fields.hasErrors('item')}" th:errors="*{item}" class="text-danger"></span>
						</div>

						<div class="col-12">
							<label>費用</label>
							<div id="price" class="input-group input">
								<input type="text" th:field="*{price}" name="price" id="priceInput" class="form-control"  />
								<span class="input-group-addon input-group-text justify-content-center"
									style="width: 100px;font-size: 13px;">
									JPY
								</span>
							</div>
							<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
						</div>

					</div>

					<div class="d-flex justify-content-between mt-5">
						<button id="cancelBtn" type="button" class="btn btn-warning">キャンセル</button>
						<button type="submit" class="btn btn-primary">登録</button>
					</div>
				</form>
			</div>
		</div>



	</div>






	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script th:inline="javascript">
		
		var date = /*[[${form.date}]]*/ 'default';

		$(function () {
			$("#datepicker").datepicker({
				autoclose: true,
				todayHighlight: true,
			}).datepicker('update', new Date());
		});
		
		$("form").on("submit", function (e) {
			e.preventDefault();
			var dates = $("#dateInput").val().split("/");
			$("#dateInput").val(dates[2] + "-" + dates[1] + "-" + dates[0]);
			
			this.submit();
		});
		
		$("#cancelBtn").on("click", function (e) {
			$("form").trigger("reset");
			
			if (date != null) {
				var dateArray = date.split("-");
				$('#dateInput').val(dateArray[2] + "/" + dateArray[1] + "/" + dateArray[0]);
			}
		});
		
		$( document ).ready(function() {
			if (date != null) {
				var dateArray = date.split("-");
				$('#dateInput').val(dateArray[2] + "/" + dateArray[1] + "/" + dateArray[0]);
			}
		});
	</script>


	<!-- bootstrap css1 js2 -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>

</body>

</html>